<input type="file" accept="image/*" capture="camera" />
<button {{on 'click' this.vibrate}}> Viberate </button>
{{#each this.positions as |job|}}
  <strong>Title</strong>: {{job.title}} <br />
  <strong>Type</strong>: {{job.type}} <br />
  <strong>Location</strong>: {{job.location}} <br />
  <hr />
{{/each}}