<div class="ui relaxed divided list">
  {{#each this.positions as |job|}}
    <LinkTo @route="details" @tag="div" @class="item" @model={{job.id}}>
      <i class="large chess queen middle aligned icon"></i>
      <div class="content">
        <a class="header">{{job.title}}</a>
        <div class="description">{{job.type}}</div>
        <div class="description">{{job.location}}</div>
      </div>
    </LinkTo>
  {{/each}}
</div>
