{{page-title "Details"}}
<h1 class="ui block header center aligned">
  <LinkTo @route="home">
    <i class="angle left icon"></i>
  </LinkTo>
  Github Jobs
</h1>

<div class="ui container">
  {{outlet}}
  <h1>This is the top</h1>
  <p>
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %  7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %  7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %
    7S5n for details.
    uninstalling route<br/><br/>
    remove app/routes/index.js<br/><br/>
    remove app/templates/index.hbs<br/><br/>
    uninstalling route-test<br/><br/>
    remove tests/unit/routes/index-test.js
    aamir@Aamirs-MacBook-Pro emberconf-pwa %

  </p>
</div>