{{page-title "Github Jobs"}}
<h1 class="ui block header center aligned">
  <a href="javascript:;">
    <i class="angle-left icon"></i>
  </a>
  Ember Jobs
</h1>
<div class="ui container">
  <JobsList @model={{@model}} />
</div>